<html>

<head>
  <title>{{ workshop_name }}</title>
</head>

<body>

<h1>{{ workshop_name }}</h1>

<p>Host: {{ ansible_hostname }}</p>

<p>Date: {{ ansible_date_time.date }}</p>

<p>Managed by Ansible Role</p>

</body>

</html>